<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> We are glad to know that you are playing HelloKitty </h1>
    <p>
      Recently you had sent to us a question about this game.
    </p>
    <p>
      Your question:
      <%= @qa.question %>
    </p>
    <p>
      Our answer:
      <%= @qa.answer %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>